
.main {
    background-color: #FFF8FD;
    /* color: #67377763; */
}

@media screen and (min-width:1024px)  {
  .main{
    grid-template-columns: 25% 75%;
  }
}
@media screen and (min-width:900px) and (max-width:1024px)  {
  .main{
    grid-template-columns: 35% 65%;
  }
}
@media screen and (min-width:300px) and (max-width:900px)  {
  .main{
    grid-template-columns: 100%;
    grid-template-rows: 2% 98%;
  }
}