
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

body{
  padding-right: 0px !important;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

body::-webkit-scrollbar {
  width: 10px;               
}

body::-webkit-scrollbar-track {
  background: white;       
}

body::-webkit-scrollbar-thumb {
  background-color: #5F2C70;   
  border-radius: 2px;
}