
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 100vh; */
  background-color: #FFF8FD;
  margin-top: 80px;
  margin-right: 0px;
}

@media screen and (max-width:600px) {
  .main{
    margin-top: 65px;
    margin-right: 0px;
  }
}
