.box {
    width: 200px;
    height: 200px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(35,177,218,0.6867121848739496) 0%, rgba(198,78,179,0.6867121848739496) 0%, rgba(0,212,255,0.6895133053221288) 0%, rgba(107,140,214,0.3393732492997199) 0%, rgba(132,123,204,1) 0%, rgba(188,85,183,0.4990371148459384) 0%, rgba(188,85,183,0.9108018207282913) 28%, rgba(189,84,183,1) 61%);
    z-index:5;
    border-radius: 50%;
}

.box1 {
    width: 350px;
    height: 350px;
    background:  linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17, 187, 235, 0.815) 0%, rgba(198,78,179,0.6867121848739496) 0%, rgba(189,84,183,0.8547794117647058) 0%, rgba(107,140,214,0.3393732492997199) 0%, rgba(0, 213, 255, 0.952) 51%, rgba(0,212,255,0.3393732492997199) 100%);
    position:relative;
    right:70px;
    z-index:4;
    border-radius: 50%;
  }
  .box2 {
    width: 250px;
    height: 250px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(35,177,218,0.6867121848739496) 0%, rgba(198,78,179,0.6867121848739496) 0%, rgba(0,212,255,0.6895133053221288) 0%, rgba(107,140,214,0.3393732492997199) 0%, rgba(132,123,204,1) 0%, rgba(188,85,183,0.4990371148459384) 0%, rgba(188,85,183,0.9108018207282913) 28%, rgba(189,84,183,1) 61%);
    z-index:4;
    border-radius: 50%;
  }